@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

/*---------------------------------------------------------index.html---------------*/

.bgimage {
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.navbar-nav .nav-link {
    margin-top: 5px;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
}

.bg-light {
    background-color: rgb(255, 255, 255, 0.0) !important;
}

.jumbotron {
    margin: 5% 5%;
    box-shadow: 10px 10px rgb(95, 158, 160, 0.5);
    background-color: rgb(255, 240, 245, 0.8);
}



.btn-primary {
    color: #fafafa;
    background-color: #866ecd;
    border-color: #866ccd;
}

.newsletter {
    background-color:#fafafa;
    position: relative;
    color: #423e3e;
    margin-bottom: 20px;
    
    padding: 30px;
    border-radius: 5%;
    
}
.newsletter h1{
   padding-top: 5px;
    text-align: center;
}

.updates-index {
    background-color: rgb(95, 158, 160);
    color:#423e3e;
    margin-bottom: 20px;
    border-radius: 5%;
    padding: 50px;
}

.updates-index h1{
    text-align: center;
}


/*-------------------------------------------------------footer------------*/

.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 42px;
    height: 42px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 21px;
    line-height: 19px;
    text-align: center;
    color: #fafafa;
    background: cadetblue;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #dc3545;
}

#footer-details {
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    position: relative;
    left: 0;
    bottom: 0;
}

#footer-mobile {
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.0);
    width: 100%;
    text-align: center;
}

/*---------------------------------------------------------------contact page--------------------*/

.contact-image {
    background-image: url(../images/contact-bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

form{
    margin: 20px;
}

.form-control{
    background-color: rgb(255, 240, 245,0.8);
}

.contact-btn{
    background-color: cadetblue;
    border-color: cadetblue;
}

.emergency-contact{
    text-align: center;
    color: #fafafa;
}

/*------------------------------------------------------------------------- About--------------*/
.about-image{
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 55%;

}

.about-content{
    text-align: center;
        color: #423e3e;
    
}

.about-nav{
    color:black;
}

/*-------------------------------------------------------------------------calender---------------*/
.calender-image{
    background-image: url(../images/pencil_glass.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 55%;

}

/*------------------------------------------time line--------------------*/
/*-------bootstrap time line - https://bootsnipp.com/snippets/OzQj-------*/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
                background-color: #fafafa;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #28a745 !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/*----------------------------------------------------------------newsletter.html-------------*/
.newsletter-image{
    background-image: url(../images/newsletter-bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 75%;
}


  
.newsletter-content{
        color: #423e3e;
    padding: 30px;
}

.newsletter-content h1{
    text-align: center;
}

.newsletter-blocks{
    background-color: #fafafa;
    border-radius: 5px;
    margin:5px;
    
}

.newsletter-opener{
    text-align: center;
    padding:10px;
}



/*------------------------------------------------------------------updates.html-----------*/
.updates-image{
    background-image: url(../images/crayon-bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.updates{
       color: #423e3e;
    
    padding: 30px;
}

.updates h1{
    
    text-align: center;
}


.update-blocks{
    background-color: #fafafa;
    border-radius: 5%;
    margin:5px;
    
}


/*------------------------------------------------------------------------- media----------*/

@media only screen and (min-width: 768px) {
    
    
    .footer-details {
        position: absolute;
    }

    /*---contact page----*/
    form{
        margin: 50px;
    }

    .contact-image {
        height: 100%;
        
    }

.bgimage {
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

}
